*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header{
    background-image: url(https://c4.wallpaperflare.com/wallpaper/453/383/721/clock-life-timepiece-time-wallpaper-preview.jpg);
    height: 93vh;
    width: 100%;
    background-size: cover;
}
h1{
    background-color: black;
    color: white;
    font-size: 40px;
    text-align: center;
    padding-top: 5px;
    font-family:'Times New Roman', Times, serif;
}
.container{
    max-width: 850px;
    position: absolute;
    top: 50%;
    left: 25%;
    transform: translate(-30%,-50%);
    color: rgb(231, 224, 224);
    text-align: center;
}
.timer-status{
    padding: 10px;
    height: 150px;
    width: 400px;
    background-color: white;
    border-radius: 30px;
}
.txt{
    font-size: medium;
}
.timer{
    font-size: xx-large;
    color: black;
    padding: 20px;
}
.btn{
    transition: 0.5s;
}
.control{
    display: flex;
    justify-content: space-evenly;
    padding: 5px; 
}
button{
    width: 90%;
    margin: 5px;
    font-size: larger;
    padding: 5px;
    border-radius: 7px;
}
.control :hover{
    box-shadow: 0 0 20px rgb(92, 79, 79);
}
#start{
    background-color: #009779;
}
#pause{
    background-color: #0e85fc;
}
#reset{
    background-color: #c91400; 
}
